body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: black;
}

#stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: white;
    text-align: center;
    cursor: pointer;
}

#scene {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    background-image: url('woods.png');
    background-size: cover;
    transform: translateY(100%);
    transition: transform 2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scene.show {
    transform: translateY(0);
}

#campfire {
    width: 10%;
}