body {
    background-color: #fff;
}

/* Header and Nav */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
}

h1 {
    margin: 0;
    padding: 0;
    color: #333;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
}

/* About Section */
#about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2rem;
}

.profile,
.skills {
    width: 45%;
    margin: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 1rem;
    background-color: #fff;
}

.profile img {
    width: 100%;
    height: auto;
}

.profile h2,
.skills h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1rem;
}

.profile p,
.skills ul {
    color: #666;
    font-size: 1rem;
}

.skills ul {
    list-style: none;
    padding: 0;
}

.skills li {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.skills img {
    width: 50px;
    height: auto;
    margin-right: 1rem;
}


/* Projects Section */
#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2rem;
}

.project {
    display: flex;
    width: 45%;
    margin: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 1rem;
    background-color: #fff;
}

.project a {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-decoration: none;
}

.project h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1rem;
}

.project img {
    width: 100%;
    height: auto;
}

.project p {
    color: #666;
    font-size: 1rem;
    width: 50%;
    padding-left: 1rem;
}